/* ==========================================================================
   Light skin
   ========================================================================== */

/* Colors */
$background-color: #fff;
$code-background-color: #fafafa;
$text-color: #000;
$muted-text-color: $text-color;
$border-color: mix(#fff, $text-color, 75%);
$border-color-darker: mix(#000, $border-color, 25%);
$form-background-color: mix(#fff, #7a8288, 90%);
$footer-background-color: #000;

$primary-color: #ff0000;
$success-color: #3fa63f;
$warning-color: #d67f05;
$danger-color: #ee5f5b;
$info-color: #3b9cba;
$focus-color: $primary-color;
$active-color: mix(#fff, $primary-color, 80%);

/* links */
$link-color: #0000ff;
$link-color-hover: mix(#000, $link-color, 25%);
$link-color-visited: mix(#fff, $link-color, 15%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: mix(#fff, $text-color, 80%);

/* contrast syntax highlighting (base16) */
$base00: #000000;
$base01: #242422;
$base02: #484844;
$base03: #6c6c66;
$base04: #918f88;
$base05: #b5b3aa;
$base06: #d9d7cc;
$base07: #fdfbee;
$base08: #ff6c60;
$base09: #e9c062;
$base0a: #ffffb6;
$base0b: #a8ff60;
$base0c: #c6c5fe;
$base0d: #96cbfe;
$base0e: #ff73fd;
$base0f: #b18a3d;

:root, html[data-theme="light"] {
  --background-color: #{$background-color};
  --code-background-color: #{$code-background-color};
  --text-color: #{$text-color};
  --muted-text-color: #{$muted-text-color};
  --border-color: #{$border-color};
  --border-color-darker: #{$border-color-darker};
  --form-background-color: #{$form-background-color};
  --footer-background-color: #{$footer-background-color};

  --primary-color: #{$primary-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --danger-color: #{$danger-color};
  --info-color: #{$info-color};
  --focus-color: #{$focus-color};
  --active-color: #{$active-color};

  --link-color: #{$link-color};
  --link-color-hover: #{$link-color-hover};
  --link-color-visited: #{$link-color-visited};
  --masthead-link-color: #{$masthead-link-color};
  --masthead-link-color-hover: #{$masthead-link-color-hover};
  --navicon-link-color-hover: #{$navicon-link-color-hover};

  --base00: #{$base00};
  --base01: #{$base01};
  --base02: #{$base02};
  --base03: #{$base03};
  --base04: #{$base04};
  --base05: #{$base05};
  --base06: #{$base06};
  --base07: #{$base07};
  --base08: #{$base08};
  --base09: #{$base09};
  --base0a: #{$base0a};
  --base0b: #{$base0b};
  --base0c: #{$base0c};
  --base0d: #{$base0d};
  --base0e: #{$base0e};
  --base0f: #{$base0f};

  .page__content {
    .notice,
    .notice--primary,
    .notice--info,
    .notice--warning,
    .notice--success,
    .notice--danger {
      color: $text-color;
    }
  }
  
  .page__footer {
    color: #fff !important; // override
  }
}
